:root{
    --primary-color: #070720;
    --background-main-color: #161742;
}

body {
    background-color: var(--background-main-color);
    font-family: "Mulish", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    padding-right: 0px !important;
    overflow: scroll !important;
}
body::-webkit-scrollbar {
    display: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.header-logo {
    padding: 20px 0 17px;
    max-width: 120px;
    vertical-align: middle;
}

.header-logo a {
    display: inline-block;
}

.header-menu {
    text-align: center;
}

img {
    height: auto;
    max-width: 95%;
    vertical-align: middle;
    border: 0;
}



ul {
    list-style-type: none;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    right: 0 !important;
    left: auto !important;
    margin-top: 0.125rem;
}

.manga-title{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: whitesmoke;
}

.manga-description{
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.manga-genre, .manga-writer, .manga-update{
    /*height: 50px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: whitesmoke;
}

.card-img-top{
    min-width: 100%;
    height: 300px;
    object-fit: fill;
    background: gray;
}

.card{
    background: #1d1e39 !important;
}

.manga-poster {
    max-width: inherit;
}

.navbar-dark{
    background-color: var(--primary-color) !important;
    margin-bottom: 20px;
    min-width: 100% !important;
}

.footer-dark{
    background-color: var(--primary-color) !important;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
    color: white;
}
.footer-logo{
    text-align: center;
    margin-bottom: 20px;
}

.footer-nav{
    margin-bottom: 15px;
}

.footer-nav a {
    color: white;
    display: flex;
    justify-content: space-around;
}

.card-img-top{
    min-width: 100%;
    height: 350px;
    object-fit: fill;
    background: gray;
}

@media only screen and (max-width: 500px) {
    #trending {
        display: none !important;
    }
    .card-img-top {
        height: 400px !important;
    }
}

@media only screen and (min-width: 500px) {
    #trending {
        width: 36%  !important;
        max-width: 300px;
        min-width: 200px;
        margin: 50px 0px 20px 10px;
        background: #1d1e39 !important;
        height: fit-content;
        border: 1px solid;
        padding: 1px
    }
}

.modal-backdrop {
    display: none !important;
}

.chapBox {
    border: 1px;
    padding: 5px;
    width: 100%;
    height: 300px;
    overflow: scroll;
    margin-top: 20px;
}

.chapBox::-webkit-scrollbar {
    display: none !important;
}

.manga-poster {
    max-width: inherit;
    margin-bottom: 30px;
}

ul.footer-ul {
    padding-left: 0 !important;
}